name: milkyway
channels:
  - conda-forge
dependencies:
  - python=3.11
  - pip
  - pip:
      - fastapi
      - uvicorn[standard]
      - sqlalchemy
      - asyncpg
      - aiosqlite
      - jinja2
      - python-multipart