.page-title{
  font-size:26px;
  font-weight:500;
  margin-bottom:5px;
}

.page-sub{
  font-size:12px;
  color:#666;
  margin-bottom:25px;
}

.hr{
  height:2px;
  background:#111;
  margin:20px 0 30px 0;
}

/* PANEL */
.panel{
  border:1px solid #1a1a1a;
  background:#f3f3f3;
  margin-bottom:30px;
}

.panel-head{
  border-bottom:1px solid #1a1a1a;
  padding:12px 18px;
  font-size:11px;
  letter-spacing:1px;
  background:#ececec;
}

.panel-body{
  padding:20px;
}

/* SEARCH */
.search-row{
  display:flex;
  gap:10px;
}

.search-row input{
  flex:1;
  border:1px solid #1a1a1a;
  padding:10px;
  font-size:12px;
}

.btn{
  border:1px solid #000;
  padding:8px 18px;
  font-size:11px;
  cursor:pointer;
  background:#fff;
}

.btn-black{
  background:#000;
  color:#fff;
}

/* TABLE */
table{
  width:100%;
  border-collapse:collapse;
}

thead{
  background:#000;
  color:#fff;
}

th, td{
  border:1px solid #1a1a1a;
  padding:10px;
  font-size:12px;
}

th{
  text-transform:uppercase;
  letter-spacing:1px;
}

/* SUMMARY */
.summary-grid{
  display:flex;
  gap:20px;
}

.summary-box{
  flex:1;
  border:1px solid #1a1a1a;
  padding:30px;
  background:#f3f3f3;
}

.summary-num{
  font-size:36px;
  margin-bottom:5px;
}

.summary-label{
  font-size:10px;
  text-transform:uppercase;
  color:#555;
}

.table-actions a {
    display: inline-block;
    padding: 8px 18px;
    border: 2px solid #000;
    text-decoration: none;   /* เอาเส้นใต้ทิ้ง */
    font-weight: 600;
    color: #000;
    transition: 0.2s ease;
}

.table-actions a:hover {
    background: #000;
    color: #fff;
}