.tabs{
  display:flex;
  gap:50px;
  border-bottom:2px solid #111;
  padding-bottom:10px;
  margin-bottom:25px;
}

.tabs span{
  font-size:11px;
  letter-spacing:1px;
  color:#999;
}

.tabs .active{
  color:#000;
  font-weight:600;
}

.form-grid-2{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:25px;
  margin-bottom:25px;
}

.form-grid-3{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  gap:25px;
  margin-bottom:25px;
}

label{
  font-size:11px;
  text-transform:uppercase;
  margin-bottom:6px;
  display:block;
}

input, select, textarea{
  width:100%;
  padding:10px;
  border:1px solid #1a1a1a;
  font-size:12px;
  background:#fff;
}

textarea{
  min-height:120px;
}

.form-actions{
  margin-top:25px;
  display:flex;
  gap:15px;
}