body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.topbar {
    background: #000;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo span {
    display: block;
    font-size: 11px;
    letter-spacing: 2px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.container {
    padding: 40px;
}

.logout {
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    text-decoration: none;
}

.empty-box {
    border: 1px solid #000;
    padding: 30px;
    background: #fff;
    margin-top: 30px;
    font-size: 14px;
}