.two-column {
    display: flex;
    gap: 30px;
}

.card {
    background: white;
    border: 1px solid #000;
    padding: 20px;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: black;
    color: white;
    padding: 10px;
}

td {
    border: 1px solid #000;
    padding: 10px;
}

.badge {
    border: 1px solid #000;
    padding: 3px 8px;
}