{% extends "base.html" %}
{% block content %}

<h1>Dashboard</h1>

{% if patients and patients|length > 0 %}

<table>
    <tr>
        <th>Name</th>
        <th>Risk</th>
        <th>Actions</th>
    </tr>

    {% for p in patients %}
    <tr>
        <td>{{ p.name }}</td>
        <td>{{ p.risk_level }}</td>
        <td><a href="#">View</a></td>
    </tr>
    {% endfor %}
</table>

{% else %}

<div class="empty-box">
    No patients registered yet.
    Please add your first patient.
</div>

{% endif %}

{% endblock %}